html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.pagination>li>span{
	cursor: pointer;
}
.footer{
  width: 100%;
  height:50px;
  color:#fff;
  padding: 15px;
}

.navbar{
  margin-bottom:0px;
}
.navbar-inverse {
  background-color: #000;;
}
.card{
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  border: 1px solid #e3e3e3;
}
.mt-in-percent{
  margin-top:12%;
}

.bg-image{
  background-size: cover;
  background-repeat: no-repeat;
  height: 450px;
  background-color: #d5ebf1;; 
}

.padtop{
  padding-top: 50px; 
}

.bg-detail{
  font-size: 16px;
  padding:15px;
}

.castDiv{
  width:160px;
  float: left;
  margin:15px 5px;
}
.imgCast{
  width:80px;
  height:80px;
}

.overflow{
  overflow: auto;
}
.showinslider{
  width: max-content;
}

.progress{
  width:200px;
  height:12px;
}
.progress-bar{
  -webkit-box-shadow:none;
  box-shadow:none;
}

.moreinfo{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  right: 10px;
  border-top: solid 1px;
  padding-left: 12px;
  padding-top: 8px;
}


@media screen and (max-width: 767px) {
  .bg-image{
      height:280px
  }
}

.media-body {
  padding: 12px 15px 0px 0px;
  position: relative;
}
.media-heading{
  margin-bottom: 15px;
}
.list-of-details li{
  margin-bottom: 10px;
  list-style-type: none;
}
.block-with-text{
  height: 100px;
  width: 94%;
  overflow: hidden;
  position: relative;
}
.gradientDiv{
  position: absolute;
  bottom: 0;
  height: 30px;
  width: 100%;
  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.media-object{
  width: 200px;
  background: #f5f5f5;
}
.pointer{
  cursor: pointer;
}

.media.card ul{
  padding-left: 10px;
}
.margintb{
  margin-top:15px;
  margin-bottom: 15px;
}
.panel-heading {
  font-size: 20px;
  font-style: italic;
}
.panel{
  border: 0;
  margin-bottom: 0px;
}
.panel-body {
 padding: 0px;
}
.min-height{
  min-height: calc(90vh - 40px)
}